node_modules/
dist/
app/
release/
overlays/
FlipFlip-darwin-x64/
FlipFlip-win32-x64/
FlipFlip-win32-ia32/
FlipFlip-linux-x64/

## Ignore project files created by IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
