$blue: #ccccff;
$red: #d00;
$mouseover: #eee;
$black: #010101;
$white: white;
$yellow: #ffeeb1;
$buttonBarColorTop: #ffeeb1;
$buttonBarColorBottom: #ffcd09;
$uiGray: #d8d8d8;
$bodyColor: white;
$buttonTop: #eaeaea;
$buttonBottom: #dcdcdc;
$buttonBorder: #727272;

$smallPadding: 0.5rem;
$buttonBarHeight: 2rem + $smallPadding;
$buttonSidebarWidth: 21rem + $smallPadding;

/*
Current Player Z-Indices (Layering is also effected by opacity)
-------------------------
1 Base Scene
2 Strobe Layer
3 Overlay Scene
4 Strobe Layer
5 Captioning
6
7
8 Tagging Bottom Sidebar
9 Scene Effects Sidebar
10 Top Button Row
*/

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), url('./fonts/Roboto-Light.woff2') format('woff2'), local("DroidSans"), local("Tahoma"), local("Liberation Sans"), local("FreeSans");
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: system, serif;
  font-size: 14px;
  color: $bodyColor;
}

a {
  color: $blue;
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@mixin mouseover {
  &:hover {
    background-color: rgba(240, 240, 240, 0.3);
  }
}

@mixin yellowGradient {
  background: $buttonBarColorTop linear-gradient(180deg, $buttonBarColorTop 0%, $buttonBarColorBottom 100%);
}

@mixin buttonBarBackground {
  @include yellowGradient();
  border-bottom: 1px solid $black;
}

.app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(52, 104, 152) linear-gradient(180deg, rgba(52, 104, 152, 1) 0%, rgba(24, 50, 76, 1) 100%);
}

.u-hidden {
  display: none;
}

.u-button-row {
  @include noselect;

  position: relative;
  z-index: 10;
  padding: $smallPadding $smallPadding 0 $smallPadding;
  height: $buttonBarHeight;
  @include buttonBarBackground;

  .u-button-row-right {
    float: right;

    .u-button {
      margin-right: 0;
      margin-left: $smallPadding;
    }
  }

  .u-button {
    margin-right: $smallPadding;
    padding: 0.2rem;
  }
}

.u-button-sidebar {
  @include noselect;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  z-index: 9;
  padding: $smallPadding $smallPadding 0 $smallPadding;
  width: $buttonSidebarWidth;
  @include buttonBarBackground;

  .SceneOptionsHeader {
    display: inline-block;
    margin-top: 0;
    color: $black !important;
    line-height: $buttonBarHeight;
  }

  .ControlGroup {
    width: 300px !important;
  }

  .SimpleRadioInput__Choice {
    display: flex;
  }

  opacity: 0;
  left: ($smallPadding*4) - $buttonSidebarWidth;
  transition: opacity 500ms ease-in-out,
  left 500ms ease-in-out;
}


.u-button-sidebar:hover {
  left: 0;
  opacity: 1;
  transition: opacity 500ms ease-in-out, left 500ms ease-in-out;
}


.u-button {
  padding: $smallPadding;
  border: 1px solid $buttonBorder;
  display: inline-block;
  color: $black !important;
  cursor: pointer;

  background: $buttonTop linear-gradient(180deg, $buttonTop 0%, $buttonBottom 100%);

  &:not(.u-disabled):hover {
    border: 1px solid $white;
  }
}

.u-logo {
  float: left;
  width: 3.5rem;
  height: 3.5rem;
  background: url("./icons/flipflip_logo.png") no-repeat;
  background-size: 3.5rem 3.5rem;
}

.u-icon-button {
  margin-top: -4px;
  div {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem 1.5rem !important;
  }
}

.u-small-icon-button {
  div {
    width: 1.0rem;
    height: 1.0rem;
    background-size: 1.0rem 1.0rem !important;
  }
}

.u-icon-button, .u-small-icon-button, .u-tiny-icon-button {
  div {
    cursor: pointer;
  }

  .u-tags {
    background: url("./icons/tag.svg") no-repeat;
  }

  .u-batch {
    background: url("./icons/batch.svg") no-repeat;
  }

  .u-mark-offline {
    background: url("./icons/mark-offline.svg") no-repeat;
  }

  .u-list {
    background: url("./icons/list.svg") no-repeat;
  }

  .u-tumblr {
    background: url("icons/tumblr.svg") no-repeat;
  }

  .u-tumblr-outline {
    background: url("icons/tumblr-outline.svg") no-repeat;
  }

  .u-reddit {
    background: url("./icons/reddit.svg") no-repeat;
  }

  .u-reddit-outline {
    background: url("./icons/reddit-outline.svg") no-repeat;
  }

  .u-twitter {
    background: url("icons/twitter.svg") no-repeat;
  }

  .u-twitter-outline {
    background: url("icons/twitter-outline.svg") no-repeat;
  }

  .u-instagram {
    background: url("./icons/instagram.svg") no-repeat;
  }

  .u-instagram-outline {
    background: url("./icons/instagram-outline.svg") no-repeat;
  }

  .u-ehentai {
    background: url("./icons/ehentai.png") no-repeat;
  }

  .u-gelbooru {
    background: url("./icons/gelbooru.png") no-repeat;
  }

  .u-danbooru {
    background: url("./icons/danbooru.png") no-repeat;
  }

  .u-imagefap {
    background: url("./icons/imagefap.svg") no-repeat;
  }

  .u-sexcom {
    background: url("./icons/sexcom.svg") no-repeat;
  }

  .u-imgur {
    background: url("./icons/imgur.svg") no-repeat;
  }

  .u-deviantart {
    background: url("./icons/deviantart.svg") no-repeat;
  }

  .u-video {
    background: url("./icons/video.svg") no-repeat;
  }

  .u-media-play {
    background: url("./icons/media-play.svg") no-repeat;
  }

  .u-media-pause {
    background: url("./icons/media-pause.svg") no-repeat;
  }

  .u-media-back {
    background: url("./icons/media-back.svg") no-repeat;
  }

  .u-media-forward {
    background: url("./icons/media-forward.svg") no-repeat;
  }

  .u-play {
    background: url("./icons/play.svg") no-repeat;
  }

  .u-pause {
    background: url("./icons/pause.svg") no-repeat;
  }

  .u-volume-up {
    background: url("./icons/volume-up.svg") no-repeat;
  }

  .u-volume-down {
    background: url("./icons/volume-down.svg") no-repeat;
  }

  .u-left-arrow {
    background: url("./icons/left-arrow.svg") no-repeat;
  }

  .u-right-arrow {
    background: url("./icons/right-arrow.svg") no-repeat;
  }

  .u-down-arrow {
    background: url("./icons/down-arrow.svg") no-repeat;
  }

  .u-new {
    background: url("./icons/new.svg") no-repeat;
  }

  .u-add {
    background: url("./icons/add.svg") no-repeat;
  }

  .u-fullscreen {
    background: url("./icons/fullscreen.svg") no-repeat;
  }

  .u-random {
    background: url("./icons/dice.svg") no-repeat;
  }

  .u-import {
    background: url("./icons/down-arrow.svg") no-repeat;
  }

  .u-config {
    background: url("./icons/gear.svg") no-repeat;
  }

  .u-import {
    background: url("./icons/import.svg") no-repeat;
  }

  .u-export {
    background: url("./icons/export.svg") no-repeat;
  }

  .u-edit {
    background: url("./icons/pencil.svg") no-repeat;
  }

  .u-clean {
    background: url("./icons/clean.svg") no-repeat;
  }

  .u-delete {
    background: url("./icons/delete.svg") no-repeat;
  }
}

.u-fill-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  &.m-blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transform: scale(1.5, 1.5);
  }
}

.u-abs-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
}

.u-float-left {
  float: left !important;
}

.u-float-right {
  float: right !important;
}

/* attributes */

.u-clickable {
  cursor: pointer;
  color: $yellow;
}

.u-disabled {
  opacity: 0.5;
  cursor: default;
}

.u-destructive {
  color: $red !important;
}

.u-destructive-bg {
  background-color: $red !important;
  color: white !important;
}

.u-show-on-hover-only {
  border-bottom: none;
  background: rgba(0, 0, 0, 0);

  & > * {
    visibility: hidden;
  }

  &:hover {
    @include buttonBarBackground;
  }

  &:hover > * {
    visibility: visible !important;
  }
}

/* components */

.ScenePicker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: $smallPadding;
  overflow: auto;

  .About {
    display: inline-block;
    width: 100%;

    > div {
      margin-bottom: $smallPadding*2;
    }

    > div:not(.Header) {
      clear: left;
    }

    .Header {
      margin-bottom: 4rem;

      .Logo {
        float: left;

        .LogoText {
          margin-top: 2px;
        }
      }

      h1 {
        margin: 0;
      }

      > div > div {
        margin-left: $smallPadding;
        display: inline-block;

        &.SimpleOptionPicker {
          vertical-align: 3px;
        }
      }

      select {
        height: 1.5em;
      }
    }
  }

  .ScenePicker__Scenes {
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

    .ScenePickerItem {
      margin-right: $smallPadding;
      height: 4rem;
      min-width: 6rem;
      max-width: 8rem;

      background-color: $white;
      color: $black !important;
      padding: $smallPadding * 2;
      margin-bottom: $smallPadding;

      display: flex;
      justify-content: center;
      align-items: center;

      &.m-generator {
        border: 2px solid black;
      }

      .ScenePickerItem__Title {
        text-align: center;
      }

      &:not(.u-disabled):hover {
        background-color: $buttonBottom;
      }
    }
  }



  .ScenePicker__Buttons {
    display: inline-flex;
    width: 100%;

    div {
      display: flex;
      background-color: $white;
      color: $black !important;
      height: 4rem;
      margin-right: $smallPadding;

      justify-content: center;
      align-items: center;
      text-align: center;

      &.ScenePicker__LibraryButton {
        font-weight: bold;
        width: 70%;
      }

      &.ScenePicker__GenerateSceneButton {
        width: 18%;
        border: 2px solid black;
      }

      &.ScenePicker__AddSceneButton {
        width: 12%;
      }

      &:not(.u-disabled):hover {
        background-color: $buttonBottom;
      }
    }
  }
}

.ControlGroupGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  .ControlGroup {
    flex-grow: 1;

    margin: 1em 0.5em $smallPadding * 3;

    border: 1px solid $black;
    padding: ($smallPadding * 2) $smallPadding $smallPadding $smallPadding;
    position: relative;

    color: $black;
    background-color: $uiGray;

    &.m-wide {
      width: 100%;
    }

    &.m-bold {
      border-width: 3px;
      padding: ($smallPadding * 1.5) $smallPadding $smallPadding $smallPadding;
    }

    .ControlGroup__Title {
      position: absolute;
      top: -1em;
      height: 1em;
      overflow: visible;
      padding: 0.15rem 0.6rem;
      font-weight: bold;
      font-size: 1rem;
      background-color: $uiGray;
      border-top: 1px solid $black;
      border-right: 1px solid $black;
      border-left: 1px solid $black;

      &.m-can-collapse {
        cursor: pointer;
      }

      &.m-bold {
        border-width: 3px;
      }
    }

    .ControlSubgroup {
      flex-grow: 1;

      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;

      &.m-inline {
        display: inline;
      }
    }

    .TimingControlGroup {
      > div {
        display: flex;
        .SimpleNumberInput {
          margin: -13px 8px 5px;
          max-width: 90px;
        }
      }
    }

    .VideoControlGroup > .SimpleCheckbox {
      font-size: 13px;
    }

    .AudioControlGroup, .VideoControlGroup {
      h4 {
        margin-top: 0;
        margin-bottom: 7px;
      }

      .VolumeControl {
        display: flex;
        .SimpleSliderInput {
          flex-grow: 1;
        }
        .u-small-icon-button {
          margin-top: 7px;
        }
      }

      .TickGroup {
        > div {
          display: flex;
          .SimpleNumberInput {
            margin: -13px 8px 5px;
            max-width: 90px;
          }
        }
      }
    }
  }
}

@mixin control {
  margin-bottom: $smallPadding * 2;
  margin-right: $smallPadding;
  label {
    display: block;
    margin-bottom: $smallPadding;
  }
}

.SimpleOptionPicker, .SimpleTextInput, .SimpleSliderInput, .SimpleCheckbox, .SimpleColorPicker, .SimpleNumberInput, .SimpleRadioInput {
  @include control;
}

.SimpleNumberInput {
  input[type=number] {
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
}

.SimpleTextInput {
  width: 100%;
  input {
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
}

.SimpleSliderInput {
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;

    &:disabled {
      opacity: 0.3;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: #3f96d0;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: #3f96d0;
      cursor: pointer;
    }
  }
}

label.SimpleCheckbox {
  display: block;

  input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0 $smallPadding;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  > *:not(input) {
    margin-bottom: -2px;
  }
}

.TabbedSections {
  .TabbedSections__Content {
    border: 1px solid $black;
  }
}

.Tab {
  display: inline-block;
  padding: $smallPadding;
  border-top: 1px solid $black;
  border-right: 1px solid $black;
  margin-bottom: -1px;
  font-weight: 700;

  &:first-child {
    border-left: 1px solid $black;
  }

  &.m-active {
    background-color: $uiGray;
    border-bottom: 1px solid $uiGray;
  }

  &.m-inactive {
    background-color: lighten($uiGray, 20%);
    border-bottom: 1px solid $black;
    color: lighten($black, 20%);
    cursor: pointer;

    &:hover {
      background-color: darken($uiGray, 20%);
    }
  }
}

.TabContent {
  padding: $smallPadding;

  &.m-hidden {
    display: none;
  }
}

.ReactSelect {
  display: flex;

  > div.CreatableSelect {
    width: 20rem;
    z-index: 5;

    > div:first-child {
      margin-top: 4px;
      min-height: 2em;
      max-height: 2em;
      border-radius: 0;
      border-width: 1px;
      box-shadow: none;
      font-size: 13.3px;
      color: black;

      > div:first-child {
        display: -webkit-box;
      }
    }

    > div:not(:first-child) {
      margin-top: 0 !important;
      color: black;

      > div > div > div > div > input {
        vertical-align: -2px;
      }
    }
  }
}

.SourcePicker {
  outline: none;

  .SourcePicker__Buttons {
    display: inline;
    height: 3.2rem;

    > .SourcePicker__Search {
      float: right;
      margin-left: $smallPadding;
      > div:not(.CreatableSelect) {
        font-size: 17px;
        margin: 5px 8px;

        &.m-short {
          display: none;
        }

        @media screen and (max-width: 618px) {
          &.m-long {
            display: none;
          }
          &.m-short {
            display: block;
          }
        }
      }

      .CreatableSelect {
        @media screen and (max-width: 858px) {
          width: 10rem;
        }
        @media screen and (max-width: 698px) {
          width: 5rem;
        }
      }
    }
  }

  .SourceList {
    width: 100%;
    display: inline;

    .SourceList__Buttons {
      height: 3.2rem;

      > .SimpleOptionPicker {
        float: right;

        select {
          outline: none;
          margin-top: 4px;
          height: 2em;
          cursor: pointer;
        }
      }

      > .SourcePicker__Search {
        float: right;
        margin-left: $smallPadding;

        > div:first-child {
          font-size: 17px;
          margin: 5px 8px;
        }
      }
    }
  }

  .Modal {
    .SimpleTextInput {
      width: 23rem;
      input {
        width: 23rem;
      }
    }

    .SourcePicker__BatchTag {
      margin-bottom: $smallPadding * 2;

      > div:first-child {
        width: 100%;
      }
    }
  }

  .SourceList__Sources {
    overflow: auto;
    clear: both;

    .SourceList__Source {
      padding: $smallPadding;
      line-height: 1.5rem;
      height: 2.5rem;

      > input {
        vertical-align: -2px;
        margin-right: 10px;
      }

      .SourceList__SourceTitle {
        color: black !important;
        display: inline-block;
        padding-left: 7px;
      }

      .SourceList__SourceTags {
        display: inline-block;

        .SourceList__SourceTag {
          color: $uiGray;
          padding-left: 1rem;
          font-size: 12px;
        }
      }

      .u-button {
        float: right;
        text-align: center;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        margin-left: 0.5rem;
        line-height: 1.5rem;
        font-weight: bold;
      }

      .u-small-icon-button {
        padding-left: 3px;
        padding-top: 3px;
      }

      .SourceIcon {
        display: inline-block;
        padding-left: 0;
        padding-top: 0;
        width: 1rem;
        vertical-align: -3px;
      }
    }

    .SourceList__Empty {
      text-align: center;
      padding: 1em;
    }
  }
}

.Config {
  .Config__ConfigHeader {
    display: inline-block;
    margin-top: 0;
    color: $black !important;
    line-height: $buttonBarHeight;
  }

  .Config__Content {
    position: fixed;
    top: $buttonBarHeight;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $smallPadding;
    overflow: auto;
  }
}

.Library {
  .Library__LibraryHeader {
    display: inline-block;
    margin-top: 0;
    color: $black !important;
    line-height: $buttonBarHeight;
  }

  .SourcePicker {
    width: 100%;
    display: flex;

    .SourcePicker__Buttons {
      flex-grow: 1;
      padding: $smallPadding 0 $smallPadding $smallPadding;

      > .SourcePicker_SelectButtons {
        display: inline-block;

        div:first-child {
          margin-bottom: 0.5rem;
        }

        .SourcePicker_SelectAllNone {
          a:first-child {
            margin-left: 0.75em;
            margin-right: 1em;
          }
        }
      }
    }

    .SourceList {
      float: right;

      .SourceList__Buttons {
        padding: $smallPadding $smallPadding $smallPadding 0;
      }

      .SourceList__Sources {
        position: fixed;
        top: 5.5rem;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0 $smallPadding $smallPadding;

        &.m-select {
          top: 7rem;
        }

        .SourceList__Source {
          &.m-marked {
            background-color: #117900;
            &:hover {
              background-color: #549d48;
            }
          }

          &.m-offline {
            background-color: #ff0000;
            &:hover {
              background-color: #fa4848;
            }
          }

          @include mouseover;
        }

        .SourceList__SourceTitle {
          color: white !important;
          > input {
            width: 250px;
          }
        }
      }
    }
  }
}

.TagManager {
  .TagManager__TagManagerHeader {
    display: inline-block;
    margin-top: 0;
    color: $black !important;
    line-height: $buttonBarHeight;
  }

  .TagManager__Buttons {
    padding: $smallPadding;
    height: 3.2rem;

    & > .u-button {
      float: right;
      margin-right: $smallPadding;
    }
  }

  .TagManager__Remove, .TagManager__Empty {
    text-align: center;
    padding: 1em;
  }

  .TagManager__Tags {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: $smallPadding;

    & > * {
      margin-right: $smallPadding;
      height: 4rem;
      min-width: 6rem;
      max-width: 8rem;
    }

    .TagManager__Tag {
      background-color: $white;
      padding: $smallPadding*3;
      margin-bottom: $smallPadding;

      &.u-destructive-bg {
        color: $white !important;
      }

      &:not(.u-destructive-bg) {
        color: $black !important;
      }

      display: flex;
      justify-content: center;
      align-items: center;

      .TagManager_TagTitle {
        text-align: center;

        input {
          max-width: 7rem;
        }
      }

      &:hover {
        background-color: $buttonBottom;
      }
    }
  }
}

.SceneGenerator {
  .SceneGenerator__SceneGeneratorHeader {
    display: inline-block;
    margin-top: 0;
    color: $black !important;
    line-height: $buttonBarHeight;
  }

  .SceneNameForm {
    display: inline-block;
    width: 200px;

    input[type=text] {
      font-size: 21px;
      font-weight: 700;
      display: block;
      width: 100%;
      margin-top: 4px;
    }
  }

  .u-button-row-right {
    display: flex;

    .SimpleNumberInput {
      display: flex;
      width: 90px;
      margin-bottom: 0;
      align-items: center;

      label {
        color: black !important;
        margin-right: $smallPadding;
        margin-bottom: 0;
      }

      input {
        text-align: center;
      }
    }
  }

  .SceneGenerator__Content {
    position: fixed;
    top: $buttonBarHeight;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $smallPadding;
    overflow: auto;

    .ControlGroup {
      > span {
        margin-right: 2rem;
      }
    }
  }
}

.SimpleRadioInput {
  width: 100%;

  > div {
    text-align: center;
  }

  &.m-no-margin-bottom {
    margin-bottom: 0;
  }

  .SimpleRadioInput__Choice {
    margin-right: 2rem;
    cursor: pointer;
  }
}

.SceneDetail {
  .SceneName {
    min-width: 10rem;
    min-height: 2rem;
    margin: 0;
    display: inline-block;
    color: $black !important;
    line-height: $buttonBarHeight;
  }

  .SceneNameForm {
    display: inline-block;
    width: 200px;

    input[type=text] {
      font-size: 21px;
      font-weight: 700;
      display: block;
      width: 100%;
      margin-top: 4px;
    }
  }

  .SceneDetail__Content {
    position: fixed;
    top: $buttonBarHeight;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $smallPadding;
    overflow: auto;
  }

  .SaveButton {
    vertical-align: 11px;
  }
}

.URLImporter {
  & > .u-button {
    float: right;
    margin-top: $smallPadding;
    margin-right: $smallPadding;
  }
}

.ProgressIndicator {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .ProgressContainer {
    width: 22rem;
    height: 22rem;
  }

  .StartButton {
    position: absolute;
    margin-top: 5rem;
  }

  p {
    text-align: center;
  }
}

.Player {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .u-button-row {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }

  .u-button-sidebar {
    z-index: 9;
  }

  .Strobe {
    z-index: 4;
  }

  .EmptyIndicator {
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
  }
}

.HeadlessScenePlayer {
  &.m-overlay {
    .ImagePlayer {
      z-index: 3;
    }
  }

  .Strobe {
    z-index: 2;

    &.m-background {
      z-index: 1;
    }
  }

  .ImagePlayer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .ImageView {
      margin: -5px -10px -10px -5px;

      .ImageView__Image {
        height: 100%;
        width: 100%;
        z-index: 1;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
      }

      .ImageView__Background {
        height: 100%;
        width: 100%;
        z-index: 1;
        background-size: cover;
      }
    }
  }
}

.SourceTags {
  @include noselect;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  line-height: 1.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;

  z-index: 8;
  padding: $smallPadding;
  @include buttonBarBackground;

  opacity: 0;
  bottom: -3rem;
  transition: opacity 500ms ease-in-out,
  bottom 500ms ease-in-out;

  &:hover {
    bottom: 0;
    opacity: 1;
    transition: opacity 500ms ease-in-out, bottom 500ms ease-in-out;
  }

  .SourceTag {
    background-color: $white;
    padding: $smallPadding;
    margin: $smallPadding $smallPadding 0 $smallPadding;
    color: $black !important;

    display: flex;
    justify-content: center;
    align-items: center;

    .SourceTagTitle {
      text-align: center;
    }

    &.u-selected {
      background-color: #ccc;
    }

    &:hover {
      background-color: #ccc;
    }
  }
}

.Modal {
  color: $black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(24, 24, 24, 0.3);
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    float: right;
  }
}

.Modal__Inner {
  background-color: $uiGray;
  border: 1px solid $black;
  position: relative;
  padding: $smallPadding;
  max-width: 28rem;

  $barHeight: 1.9rem;
  $buttonHeight: 1.2rem;
  $barPadding: ($barHeight - $buttonHeight) / 2;

  .Modal__Bar__Container {
    z-index: 2;
    position: absolute;
    left: -1px;
    top: -$barHeight;
    height: $barHeight;
  }

  .Modal__Bar {
    @include yellowGradient();
    height: $barHeight;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: $barHeight;
    background-color: $uiGray;
    border-top: 1px solid $black;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    padding-right: $barPadding;
  }

  .Modal__Bar__Title {
    float: left;
    margin: 0 0.6rem;
  }

  .Modal__Bar__Close {
    float: left;
    cursor: pointer;
    width: $buttonHeight + 0.1rem;
    height: $buttonHeight;
    margin: $barPadding;
    border: 1px solid $black;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:before {
      content: '╳';
      position: relative;
      bottom: 7px;
    }
  }
}

.ContextMenu {
  position: fixed;
  background: white;
  box-shadow: 0 2px 10px #999999;

  &--option {
    color: $black;
    padding: 6px 8px 5px 8px;
    min-width: 160px;
    cursor: default;
    font-size: 12px;

    &:hover {
      background: linear-gradient(to top, #555, #333);
      color: white;
    }

    &:active {
      color: #e9e9e9;
      background: linear-gradient(to top, #555, #444);
    }

    &__disabled {
      color: #999999;
      pointer-events: none;
    }
  }

  &--separator {
    width: 100%;
    height: 1px;
    background: #CCCCCC;
    margin: 0 0 0 0;
  }
}

.CaptionProgram {
  z-index: 5;
  pointer-events: none;
  display: table;
  width: 100%;
  height: 100%;

  & > div {
    display: table-cell;
  }
}

.text-blink, .text-caption-big, .text-count {
  text-align: center;
  vertical-align: middle;
  transition: opacity 0.1s ease-out;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.text-caption {
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 20vmin;
  transition: opacity 0.5s ease-in-out;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
