/*
Current Player Z-Indices (Layering is also effected by opacity)
-------------------------
1 Background
2 Image Layer
3 Strobe Layer
4 Overlay Scene
5 Strobe Layer
6 Captioning
7
*/

body {
  overflow: hidden;
}

.MuiDrawer-paper::-webkit-scrollbar { width: 0 !important }

div.CreatableSelect {
  > div:first-child {
    max-height: 64px;
  }
}

#sortable-list {
  > div {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
}

#force-webpack-to-load-logo {
  background: url("./icons/flipflip_logo.png") no-repeat;
}

.CodeMirror {
  height: auto;
}

.CodeMirror-linenumber {
  cursor: pointer;
}