$blue: #ccccff;
$red: #d00;
$mouseover: #eee;
$black: #010101;
$white: white;
$yellow: #ffeeb1;
$buttonBarColorTop: #ffeeb1;
$buttonBarColorBottom: #ffcd09;
$uiGray: #d8d8d8;
$bodyColor: white;
$buttonTop: #eaeaea;
$buttonBottom: #dcdcdc;
$buttonBorder: #727272;

$smallPadding: 0.5rem;
$buttonBarHeight: 2rem + $smallPadding;
$buttonSidebarWidth: 20rem + $smallPadding;

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "system";
  font-size: 14px;
  color: $bodyColor;
}

a {
  color: $blue;
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@mixin mouseover {
  &:hover {
    background-color: rgba(240, 240, 240, 0.3);
  }
}

@mixin yellowGradient {
  background-color: $buttonBarColorTop;
  background: linear-gradient(180deg, $buttonBarColorTop 0%, $buttonBarColorBottom 100%);
}

@mixin buttonBarBackground {
  @include yellowGradient();
  border-bottom: 1px solid $black;
}

.app {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgb(52,104,152);
  background: linear-gradient(180deg, rgba(52,104,152,1) 0%, rgba(24,50,76,1) 100%);
}

.u-hidden {
  display: none;
}

.u-button-row {
  @include noselect;

  position: relative;
  z-index: 2;
  padding: $smallPadding $smallPadding 0 $smallPadding;
  height: $buttonBarHeight;
  @include buttonBarBackground;

  .u-button-row-right {
    float: right;

    .u-button {
      margin-right: 0;
      margin-left: $smallPadding;
    }
  }

  .u-button {
    margin-right: $smallPadding;
    padding: 0.2rem;
  }
}

.u-button-sidebar {
  @include noselect;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: $smallPadding $smallPadding 0 $smallPadding;
  width: $buttonSidebarWidth;
  @include buttonBarBackground;

  .SceneOptions {
    display: inline-block;
    margin-top: 0;
    color: $black !important;
    line-height: $buttonBarHeight;
  }
}

.u-button {
  padding: $smallPadding;
  border: 1px solid $buttonBorder;
  display: inline-block;
  color: $black !important;
  cursor: pointer;

  background-color: $buttonTop;
  background: linear-gradient(180deg, $buttonTop 0%, $buttonBottom 100%);

  &:hover {
    border: 1px solid $white;
  }
}

.u-fill-container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;  
  overflow: hidden;
}

.u-fill-image-blur {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transform: scale(2, 2);
}

.u-abs-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
}

.u-float-left {
  float: left !important;
}

.u-float-right {
  float: right !important;
}

/* attributes */

.u-clickable {
  cursor: pointer;
  color: $yellow;
}

.u-disabled {
  opacity: 0.5;
  cursor: default;
}

.u-destructive {
  color: $red !important;
}

.u-show-on-hover-only {
  border-bottom: none;
  background: rgba(0,0,0,0);

  & > * {
    visibility: hidden;
  }

  &:hover {
    @include buttonBarBackground;
  }

  &:hover > * {
    visibility: visible !important;
  }
}

/* components */

.ScenePicker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: $smallPadding;
  overflow: auto;

  .About {

    h1:first-child {
      margin-top: 0;
    }
  }

  .ScenePicker__Scenes {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

    & > * {
      margin-right: $smallPadding;
      height: 4rem;
      min-width: 6rem;
      max-width: 8rem;
    }
  }

  .ScenePickerItem {
    background-color: $white;
    color: $black !important;
    padding: $smallPadding;
    margin-bottom: $smallPadding;

    display: flex;
    justify-content: center;
    align-items: center;

    .ScenePickerItem__Title {
      text-align: center;
    }

    &:hover {
      background-color: $buttonBottom;
    }
  }
}

.ControlGroupGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.ControlGroup {
  flex-grow: 1;

  margin-top: 1em;
  margin-bottom: $smallPadding * 3;
  margin-left: 0.5em;
  margin-right: 0.5em;

  border: 1px solid $black;
  padding: ($smallPadding * 3) $smallPadding $smallPadding $smallPadding;
  position: relative;

  color: $black;
  background-color: $uiGray;

  &.m-narrow {
    width: 300px;
  }

  &.m-wide {
    width: 100%;
  }

  .ControlGroup__Title {
    position: absolute;
    top: -1em;
    height: 1em;
    overflow: visible;
    padding: 0.15rem 0.6rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: $uiGray;
    border-top: 1px solid $black;
    border-right: 1px solid $black;
    border-left: 1px solid $black;
  }
}

.ControlSubgroup {
  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  & > * {
    margin-right: $smallPadding * 2;
  }
}

@mixin control {
  margin-bottom: $smallPadding * 2;
  label {
    display: block;
    margin-bottom: $smallPadding;
  }
}

.SimpleOptionPicker, .SimpleTextInput, .SimpleSliderInput, .SimpleCheckbox {
  @include control;
}

.SimpleOptionPicker {
  select {
    max-width: 210px;
  }
}

.SimpleTextInput {
  input[type=text] {
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
}
.SimpleSliderInput {
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;

    &:disabled {
      opacity: 0.5;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: #3f96d0;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: #3f96d0;
      cursor: pointer;
    }
  }
}

label.SimpleCheckbox {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }
}

.TabbedSections {
  .TabbedSections__Content {
    border: 1px solid $black;
  }
}

.Tab {
  display: inline-block;
  padding: $smallPadding;
  border-top: 1px solid $black;
  border-right: 1px solid $black;
  margin-bottom: -1px;
  font-weight: 700;

  &:first-child {
    border-left: 1px solid $black;
  }

  &.m-active {
    background-color: $uiGray;
    border-bottom: 1px solid $uiGray;
  }

  &.m-inactive {
    background-color: lighten($uiGray, 20%);
    border-bottom: 1px solid $black;
    color: lighten($black, 20%);
    cursor: pointer;

    &:hover {
      background-color: darken($uiGray, 20%);
    }
  }
}

.TabContent {
  padding: $smallPadding;

  &.m-hidden {
    display: none;
  }
}

.SceneDetail {
  .SceneName {
    display: inline-block;
    margin-top: 0;
    color: $black !important;
    line-height: $buttonBarHeight;
  }

  .SceneNameForm {
    display: inline-block;
    width: 200px;

    input[type=text] {
      font-size: 21px;
      font-weight: 700;
      display: block;
      width: 100%;
      margin-top: 4px;
    }
  }
}

.SceneDetail__Content {
  position: fixed;
  top: $buttonBarHeight;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $smallPadding;
  overflow: auto;
}

.SceneDetail__PlayButton {
  width: 100%;
  text-align: center;
  padding: $smallPadding;
}

.SceneOptionsForm {
  div {
    padding-bottom: 9px;
    label {
      margin-right: 0.5rem;
    }
  }
}

.DirectoryPicker {
  & > .u-button {
    float: right;
    margin-top: $smallPadding;
    margin-right: $smallPadding;
  }
}

.DirectoryPicker__Directory {
  padding: $smallPadding;
  padding-left: 0;
  line-height: 1.5rem;
  height: 2.5rem;

  @include mouseover;

  .u-button { /* delete */
    float: right;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    line-height: 1.5rem;
    font-weight: bold;
  }
}

.URLImporter {
  & > .u-button {
    float: right;
    margin-top: $smallPadding;
    margin-right: $smallPadding;
  }
}

.ProgressIndicator {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .ProgressContainer {
    width: 20rem;
    height: 20rem;
  }

  p {
    text-align: center;
  }
}

.EmptyIndicator {
  position: fixed;
  top: 50%; right: 0; left: 0;
  text-align: center;
}

.Player {
  .u-button-row {
    position: absolute;
    top: 0; right: 0; left: 0;
  }
}

.ImagePlayer {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  .ImageView img{
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.Modal {
  color: $black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(24, 24, 24, 0.3);
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    float: right;
  }
}

.Modal__Inner {
  background-color: $uiGray;
  border: 1px solid $black;
  position: relative;
  padding: $smallPadding;

  $barHeight: 1.9rem;
  $buttonHeight: 1.2rem;
  $barPadding: ($barHeight - $buttonHeight) / 2;

  .Modal__Bar__Container {
    z-index: 2;
    position: absolute;
    left: -1px;
    top: -$barHeight;
    height: $barHeight;
  }

  .Modal__Bar {
    @include yellowGradient();
    height: $barHeight;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: $barHeight;
    background-color: $uiGray;
    border-top: 1px solid $black;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    padding-right: $barPadding;
  }

  .Modal__Bar__Title {
    float: left;
    margin: 0 0.6rem;
  }

  .Modal__Bar__Close {
    float: left;
    cursor: pointer;
    width: $buttonHeight + 0.1rem;
    height: $buttonHeight;
    margin: $barPadding;
    border: 1px solid $black;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &:before {
      content: '╳';
      position: relative;
      bottom: 8px;
    }
  }
}

.ContextMenu {
  position: fixed;
  background: white;
  box-shadow: 0px 2px 10px #999999;

  &--option {
    color: $black;
    padding: 6px 8px 5px 8px;
    min-width: 160px;
    cursor: default;
    font-size: 12px;
    &:hover {
      background: linear-gradient(to top, #555, #333);
      color: white;
    }

    &:active {
      color: #e9e9e9;
      background: linear-gradient(to top, #555, #444);
    }

    &__disabled {
      color: #999999;
      pointer-events: none;
    }
  }

  &--separator {
    width: 100%;
    height: 1px;
    background: #CCCCCC;
    margin: 0 0 0 0;
  }
}

.CaptionProgram {
  z-index: 1;
  pointer-events: none;
  display: table;
  width: 100%;
  height: 100%;

  & > div {
    display: table-cell;
  }
}

.text-blink {
  text-align: center; color: white; font-size: 20vmin;
  vertical-align: middle; transition: opacity 0.1s ease-out;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
  -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;
}

.text-caption {
  text-align: center; color: white; font-size: 8vmin;
  vertical-align: bottom; padding-bottom: 20vmin;
  transition: opacity 0.5s ease-in-out;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;
}

.text-caption-big {
  text-align: center; color: white; font-size: 12vmin;
  vertical-align: middle; transition: opacity 0.1s ease-out;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
  -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;
}

@for $x from -10 through 10 {
  @for $y from -10 through 10 {
    @for $z from 1 through 20 {
      .translate-#{$x}-#{$y}-#{$z}s img {
        -webkit-animation: kb-#{$x}-#{$y} #{$z}s;
        animation: kb-#{$x}-#{$y} #{$z}s;
      }

      .translate-#{$x}-#{$y}-zoom-#{$z}s img {
        -webkit-animation: kb-#{$x}-#{$y}-zoom #{$z}s;
        animation: kb-#{$x}-#{$y} #{$z}-zoom #{$z}s;
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
      }

      .translate-#{$x}-#{$y}-zoom-out-#{$z}s img {
        -webkit-animation: kb-#{$x}-#{$y}-zoom-out #{$z}s;
        animation: kb-#{$x}-#{$y} #{$z}-zoom-out #{$z}s;
        -webkit-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5);
      }
    }
  }
}

/* Animations */

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* Ken Burns effects */

@for $x from -10 through 10 {
  @for $y from -10 through 10 {
    @keyframes kb-#{$x}-#{$y} {
      100% {
        transform: translate(percentage($x/100), percentage($y/100));
      }
    }

    @keyframes kb-#{$x}-#{$y}-zoom {
      100% {
        transform: translate(percentage($x*2/100), percentage($y*2/100)) scale(2,2);
      }
    }

    @keyframes kb-#{$x}-#{$y}-zoom-out {
      100% {
        transform: translate(percentage($x/100), percentage($y/100)) scale(1,1);
      }
    }
  }
}