$blue: blue;
$red: red;
$mouseover: #eee;
$black: black;
$buttonBarColor: white;

$smallPadding: 0.5rem;
$buttonBarHeight: 2rem + $smallPadding;

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "system";
  font-size: 14px;
}

@mixin mouseover {
  &:hover {
    background-color: #eee;
  }
}

.u-button-row {
  z-index: 1;
  border-bottom: 1px solid $black;
  padding: $smallPadding $smallPadding 0 $smallPadding;
  height: $buttonBarHeight;

  .u-button {
    margin-right: $smallPadding;
  }
}

.u-button {
  padding: 0.2em;
  border: 0.5px solid $blue;
  border-radius: 0.2em;
  display: inline-block;
  @include mouseover;
}

.u-fill-container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;  
}

/* attributes */

.u-clickable {
  cursor: pointer;
  color: $blue;
}

.u-destructive {
  color: $red !important;
}

.u-show-on-hover-only {
  border-bottom: none;

  & > * {
    visibility: hidden;
  }

  &:hover {
    background-color: $buttonBarColor;
    border-bottom: 1px solid $black;
  }

  &:hover > * {
    visibility: visible !important;
  }
}

/* components */

.ScenePicker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  overflow: auto;
  border-right: 1px solid $black;

  .ScenePickerItem {
    padding: 1rem;
    margin: $smallPadding;
    border-radius: $smallPadding;
    display: block;
    text-align: center;
    border: 1px solid $blue;

    @include mouseover;
  }
}

.SceneDetail__Content {
  position: fixed;
  top: $buttonBarHeight;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $smallPadding;

  h1:first-child {
    margin-top: 0;
  }
}

.SceneDetail__Options {
  position: absolute;
  right: 50%;
  padding: $smallPadding;
  top: 0; left: $smallPadding; bottom: 0;
  overflow: auto;
}

.SceneDetail__Sources {
  position: absolute;
  left: 50%;
  top: 0; right: 0; bottom: 0;
  overflow: auto;
}

.SceneDetail__PlayButton {
  width: 100%;
  text-align: center;
  padding: $smallPadding;
  border-radius: 0.5rem;
}

.SimpleOptionPicker {
  height: 2.5rem;

  label {
    margin-right: 0.5rem;
  }
}

.DirectoryPicker__Directory {
  padding: $smallPadding;
  padding-left: 0;

  .u-button {
    float: right;
    text-align: center;
    width: 1.5rem;
  }
}

.Player {
  .u-button-row {
    position: absolute;
    top: 0; right: 0; left: 0;
  }
}

.ImagePlayer {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}